<!DOCTYPE html>
<html>
  <head>
	<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADj/wAAwf8AAMH/AADB/wAAwZ8AAOE/AAD9PwAA/Z8AAP3PAAD9jwAA/R8AAPw/AAD8fwAA/P8AAP3/AAD//wAA" rel="icon" type="image/x-icon" />
    <title> Quiz </title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />

  </head>
  <body>
    <h1> Quiz </h1>
    <p>Welcome to  Quiz </p>
  </body>
</html>
